khl.py>=0.3.2
colorlog>=6.6.0
colorama>=0.4.5
pydantic>=1.9.2
gevent>=21.12.0
Flask>=2.2.2
pywebio>=1.6.2
httpx>=0.23.0
Pillow>=9.2.0
tqdm>=4.64.0
KaiheilaCardBuilder>=1.2.5
numpy~=1.23.2
tortoise-orm>=0.19.2
pytz>=2022.2.1
matplotlib>=3.5.3
Jinja2>=3.1.2
playwright>=1.25.2
APScheduler>=3.9.1
python-dateutil>=2.8.2
lxml>=4.9.1